@mixin reset_list {
  ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
}

@mixin element_group {
  padding: 0.2rem;
  //border: solid 0.5px black;
  //margin-bottom: 7px;
}

.CommitRuns {
  @include reset_list;
  display: flex;
  font-family: 'Inconsolata', monospace;

  .run {
    height: 1rem;
    width: 1rem;
    display: inline-block;
    border-radius: 3px;

    .details {
      display: none;
    }
  }

  .commit {
    @include element_group;
    width: 20%;
    margin-right: 7px;
  }

  .runs {
    @include element_group;

    ul {
      height: 1rem;

      :not(:last-child) {
        margin-right: 5px;
      }
    }

    li {
      display: inline-block;
      height: 1rem;
    }
  }

  .completed {
    background-color: darkgreen;
  }

  .in_progress {
    background-color: gold;
  }


}

.WorkflowRuns {
  @include reset_list;
}

.BranchRuns {
  @include reset_list;
  padding-bottom: 20px;
}



