@mixin reset_list {
  ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
  }
}

body{
  font-family: 'Montserrat', sans-serif;
}

.CommitRuns {
  @include reset_list;
  display: flex;

  .run {
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-right: 5px;
    border-radius: 3px;

    .details {
      display: none;
    }
  }

  .commit {
    width: 20%;
    margin-right: 7px;
    font-family: 'Inconsolata', monospace;
  }

  .runs {
    width: 80%;

    li {
      display: inline-block;
    }
  }

  .completed {
    background-color: darkgreen;
  }

  .in_progress {
    background-color: gold;
  }


}

.WorkflowRuns {
  @include reset_list;
}

.BranchRuns {
  @include reset_list;
  padding-bottom: 20px;
}



